<div class="content-center">

<h1>My Robots</h1>

<div>
  
  <% @robots.each do |robot| %>
  
  <div>
    <h3><a href="/robots/<%= robot.id %>"> <%= robot.name %></a></h3>
    <p><%= robot.city  %></p>
    <p><%= robot.department %></p>
    <a class="btn btn-success btn-xs" href="/robots/<%= robot.id %>/edit">Edit</a>
    <form action="/robots/<%= robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger btn-xs" type="submit" value="delete">Delete</button>
    </form>
    
  </div>
  
  <% end %>
  
</div>
</div>